body{
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#ff69b4,#ffc0cb);
text-align:center;
color:white;
}

.title{
font-family:'Great Vibes';
font-size:50px;
margin-top:40px;
}

.gallery img{
width:200px;
height:200px;
margin:10px;
border-radius:20px;
}

.surprise-btn{
padding:15px 30px;
border:none;
border-radius:40px;
background:white;
color:#ff1493;
font-size:18px;
cursor:pointer;
}

.countdown{
display:flex;
justify-content:center;
gap:30px;
margin:30px;
}

.cake{
font-size:80px;
margin:30px;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
display:none;
justify-content:center;
align-items:center;
}

.popup-content{
background:white;
color:black;
padding:30px;
border-radius:20px;
}

.confetti{
position:fixed;
width:10px;
height:10px;
background:pink;
top:-10px;
animation:fall 4s linear forwards;
}

@keyframes fall{
to{
transform:translateY(100vh);
}
}